<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.auburn.eng.csse.comp3710.team8" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />


        <activity
            android:name=".PicYaPaletteActivity"
            android:label="@string/title_activity_pic_ya_palette" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageChooserActivity"
            android:label="@string/title_activity_image_chooser" >
        </activity>
        <activity
            android:name=".FavoritePalettesActivity"
            android:label="@string/title_activity_favorite_palettes" >
        </activity>
        <activity
            android:name=".GeneratedPalettesActivity"
            android:label="@string/title_activity_generated_palettes" >
        </activity>
        <activity
            android:name=".PaletteDetailsActivity"
            android:label="@string/title_activity_palette_details" >
        </activity>
    </application>

</manifest>
